
<!DOCTYPE html>
<html lang="en">
<!--NAVBAR-->
<!--<black stripe at the top of the page>-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <a href="#" class="navbar-brand"><b>[[${currentUser.getUsername()}]]</b> with roles:
        [[${#strings.listJoin(currentUser.getRoles(),' ')}]]</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--</div>-->
<!--NAVBAR ENDS-->
</html>