
<!DOCTYPE html>
<html lang="en">

<!--vertical USER-ADMIN table on the left -->
<div th:fragment="panel" class="col-2">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a th:if="${user.isAdmin()}" th:class="'nav-link' + ${user.isAdmin() ? ' active' : ''}"
       id="v-pills-home-tab" data-toggle="pill" href="/admin" role="tab" aria-controls="v-pills-home"
       aria-selected="true">Admin</a>
    <a th:if="${user.isUser()}" th:class="'nav-link' + ${user.isAdmin() ? '' : ' active'}"
       id="v-pills-profile-tab" data-toggle="pill" href="/user/" role="tab"
       aria-controls="v-pills-profile" aria-selected="false">User</a>
  </div>
</div>

</html>