<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Bootstrap CSS -->
<head th:insert="fragments/bootstrap::bootstrap">
  <meta charset="UTF-8">
  <title>User</title>
</head>


<body>
<div class="container-fluid">
  <!--NAVBAR -->
  <nav th:replace="fragments/navbar::navbar"></nav>

  <!--ADMIN+USER LEFT FORM-->
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a th:if="${currentUser.isAdmin()}" th:class="'nav-link' + ${currentUser.isAdmin() ? ' active' : ''}"
           id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
           aria-selected="true">Admin</a>
        <a th:if="${currentUser.isUser()}" th:class="'nav-link' + ${currentUser.isAdmin() ? '' : ' active'}"
           id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">User</a>
      </div>
    </div>
    <div class="col-10 bg-light">
      <div class="tab-content" id="v-pills-tabContent">



      </div>
    </div>
  </div>
</div>
</body>
</html>